// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

@import "@mdi/font";


.dropdown-toggle { outline: 0; }



.scrollarea {
    overflow-y: auto;
}

#sidenav {
    width: 250px;
    position: sticky;
    top: 0;
    height: calc(100vh - 40px)
}
